:root {
  --naranja: #ff9933;
  --rojo: #ff3333;
  --verde: #33ff99;
  --azul: #3399ff;
  --font: #363945;
}

.color {
  height: 50px;
  width: 50px;
}
.naranja {
  background: var(--naranja);
}
.rojo {
  background: var(--rojo);
}
.verde {
  background: var(--verde);
}
.azul {
  background: var(--azul);
}
.font {
  background: var(--font);
}
#additional {
  display: flex;
}
