$naranja: #ff9933;
$azul: #3399ff;
$black: #333;
$grey: #f5f5f5;

.color {
    height: 70px;
    width: 70px;
}

.naranja {
    background: $naranja;
}

.gris {
    background: $grey;
}

.azul {
    background: $azul;
}

.black {
    background: $black;
    color: white;
}
