* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    line-height: 1.4rem;
    margin: 0;
    padding: 0 20px;
}

.page {
    max-width: 1024px;
    margin: 0 auto;
}

.content div:nth-child(odd) > p,
figure {
    margin-left: 80px;
}

article > h2 {
    text-align: center;
}

article > p {
    margin-left: 40px;
}

.content img {
    // background-size: cover;
    // -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    // margin: 20px 0;
    // border: 10px solid #fff;
    // -webkit-box-sizing: border-box;
    // box-sizing: border-box;
}
