h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 0.875em;
}

h1,
h2 {
    color: $naranja;
}

h2 {
    margin: 20px;
}

.site-header td:nth-child(n + 4) {
    background: $azul;
    color: white;
}

.navigation td:nth-child(n + 4) {
    background: $black;
    color: white;
}

.heading1 td:nth-child(n + 4),
.heading1 td:nth-child(n + 4),
.heading2 td:nth-child(n + 4),
.heading5 td:nth-child(n + 4),
.footer td:nth-child(n + 4) {
    color: $naranja;
}

.text td:nth-child(n + 4) {
    color: $black;
}

.site-header td:last-child {
    font-size: 40px;
}

.navigation td:last-child {
    font-size: 30px;
}

.heading1 td:last-child {
    font-size: 35px;
}

.heading2 td:last-child {
    font-size: 30px;
}

.heading5 td:last-child {
    font-size: 25px;
}

.text td:last-child {
    font-size: 16px;
}

.footer td:last-child {
    font-size: 20px;
}
