* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.banner-box img {
  padding-top: 1rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  line-height: 1.4rem;
  padding: 0 20px;
  font-size: 16px;
}


.page {
  max-width: 1024px;
  margin: 0 auto;
}

.content div:nth-child(odd) > p {
  margin-left: 80px;
}

article > h2 {
  text-align: center;
}

article > p {
  margin-left: 40px;
}
.banner-caption {
  display: grid;
  justify-content: center;
}

h1 {
  font-size: 2.5em;
  padding: 1em;
}

h2 {
  font-size: 1.875em;
}

p {
  font-size: 1.2em;
  padding-right: 1rem;
}

h1, .cta a {
  color: #ff9933
}
h2 {
  color: #3399ff;
}

h2 {
  margin: 20px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "A B" "D C";
  justify-items: stretch;
  
}
.content div, .content picture{
  margin-bottom: 30px;
}
.content div:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: A;

}

.content picture:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: B;

}

.content div:nth-child(3) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: C;

}

.content picture:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: D;
  

}
picture:nth-child(4) img {
    width: 80%;
}

header {
  width: 100%;
  display: -ms-flex;
  display: flex;
  justify-items: center;
  justify-content: space-between;
  background-color: #ff9933;
}

.navigation {
  display: -ms-flex;
  display: flex;
  list-style: none;
  
}

.navigation a{
  display: block;
  padding: .75em;
  color: white;
  margin-top: 5px;
  font-weight: 700;
}

.navigation a:hover {	
  color: #3399ff; 
  background-color: white;	
  font-weight: 700;
  border-radius: 8px;
  border: 2px solid #3399ff;
  transition-duration: 0.2s;

}

.link {
  text-decoration: none;
}

.navigation li {
     flex: 1 1 100%;
}

.banner-box {
  margin-bottom: 30px;
  position: relative;
}
.cta {
  position: absolute;
  top: 240px;
  left: 200px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ff9933;
  font-size: 1.2rem;
  transition-duration: 0.4s;
  color: #3399ff;
  
}

.cta:hover {
  background-color: #ff9933;
  color: white;
  cursor:pointer;
}


footer {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 40px; */
  padding: 10px;
  margin: 10px 0;
  background: #ff9933;
  color: #000;
}

picture img {
  -webkit-filter: drop-shadow(5px 5px 5px #666666);
        filter: drop-shadow(5px 5px 5px #666666);

}
.social img{
  width: 30px;
}


