:root {
  --primary-color: #ff9933;
  --bg-color: #f5f5f5;
}
<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");
=======
>>>>>>> 1b3cc6f19601ed3682e8950d0dcb8130d5781e08

* {
  /* -webkit-box-sizing: border-box; */
  box-sizing: border-box;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1.6rem;
  margin: 0;
  padding: 0;
}

header {
  /* display: -ms-grid; */
  display: grid;
  grid-template-columns: auto auto 1fr;
}

main {
  background: var(--bg-color);
}

article > h2 {
  text-align: center;
}

article > p {
  /* margin-left: 40px; */
  margin: auto;
  width: 80%;
}

h2 {
  font-size: 1.875em;
  color: var(--primary-color);
  margin: 20px;
}

p {
  font-size: 0.875em;
}

.page {
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  /* display: -ms-grid; */
  display: grid;
  /* -ms-grid-columns: 1fr 1fr; */
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "A B" "D C";
  justify-content: space-around;
}

.content img {
  background-size: cover;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;

  width: 400px;
  height: auto;
}

.content div:nth-child(odd) > p {
  margin-left: 80px;
}

.content picture {
  margin-bottom: 30px;
}

/* ========== Grid ========== */
.content div:nth-child(1) {
  /* -ms-grid-row: 1;
  -ms-grid-column: 1; */
  grid-area: A;
}

.content picture:nth-child(2) {
  /* -ms-grid-row: 1;
  -ms-grid-column: 2; */
  grid-area: B;
}

.content div:nth-child(3) {
  /* -ms-grid-row: 2;
  -ms-grid-column: 2; */
  grid-area: C;
}

.content picture:nth-child(4) {
  /* -ms-grid-row: 2;
  -ms-grid-column: 1; */
  grid-area: D;
}

nav ul {
  /* display: -ms-grid; */
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

li {
  padding: 6px 20px;
  margin: 10px;
}

.link {
  text-decoration: none;
}

.banner-box {
  margin-bottom: 30px;
}

footer {
  /* display: -ms-grid; */
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  height: 100px;
  padding: 10px;
  margin: 10px 0;
  background: var(--primary-color);
}
.social {
  grid-column: 3;
}
