* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  background: linear-gradient(to right, #8e9eab, #eef2f3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}

div.card {
  position: relative;
  width: 400px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
div.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
section.card__content {
  padding: 1.3rem;
  background-color: white;
  border-radius: 0 0 15px 15px;
}

h1{
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  /* letter-spacing: 0; */
  line-height: 1.6rem;
}
h1 span {
  font-size: 1.2rem;
  display: inline-block;
}
p {
  font-family: "Bitter", serif;
  font-size: 1rem;
  line-height: 1.6rem;
  margin: 1rem 0;
  text-align: justify;
}

img {
  border-radius: 15px 15px 0 0;
}
.small-caps {
  font-variant: small-caps;
  font-weight: 500;
  font-size: .85rem;
}
/*------------------------------------*\
    $LIKE BUTTON
\*------------------------------------*/

div.like {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  right: 1.3rem;
  top: 1.3rem;
  transition: .5s;
}
div.like:hover {
  transform: scale(1.2);
  background-color: red;
  box-shadow: 0 0 16px 0 white;
}

div.like:hover .line {
  fill: white;
}
div.like:hover .heart2 {
  color: white;
}


div.heart {
  position: relative;
  color: red;
  font-size: 3rem;
  text-align: center;
  transition: .5s;
  left: -8px;
  
}
div.heart2 {
  position: relative;
  color: red;
  font-size: 3rem;
  text-align: center;
  transition: .5s;
  top:-9px;
  /* left: -7px */
}

.line {
    fill: rgb(238, 124, 124);
    stroke-width: 10;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke: red;
    stroke-dasharray: 328 600;
    animation: rotate 2s infinite linear;  
}
.line2 {
    animation: rotate 2s infinite -1s linear;   
}
/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer a {
  border: 1px solid #969698;
  border-radius: 8px;
  padding: 4px 30px;
  text-decoration: none;
  color: black;
  background:linear-gradient(#ECECEE, #BBB9BA);
  transition: 1s;

}
footer a:hover {
  background: linear-gradient( #344D9D, #496DC2);
  color:white;
}

/*------------------------------------*\
    $CAROUSEL
\*------------------------------------*/
div.carousel{
    overflow:hidden;
    width:100%;
    position:relative;
}
ul.panes{
    list-style:none;
    position:relative;
    width:500%; /* Number of panes * 100% */
    overflow:hidden; /* This is used solely to clear floats, it does not add functionality. */

     
    -webkit-animation:carousel 45s infinite;
       -moz-animation:carousel 45s infinite;
            animation:carousel 45s infinite;
}
ul.panes > li{
    position:relative;
    float:left;
    width:20%; /* 100 / number of panes */
}
ul.panes > li > a{
    display:block;
}
div.carousel img{
    display:block;
    width:100%;
    max-width:100%;
}


@-moz-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@-webkit-keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}

@keyframes carousel{
    0%    { left:0; }
    11%   { left:0; }
    12.5% { left:-100%; }
    23.5% { left:-100%; }
    25%   { left:-200%; }
    36%   { left:-200%; }
    37.5% { left:-300%; }
    48.5% { left:-300%; }
    50%   { left:-400%; }
    61%   { left:-400%; }
    62.5% { left:-300%; }
    73.5% { left:-300%; }
    75%   { left:-200%; }
    86%   { left:-200%; }
    87.5% { left:-100%; }
    98.5% { left:-100%; }
    100%  { left:0; }
}


@keyframes rotate {
  0% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 928;
  }
}
