:root {
    --naranja: #ff9933;
    --azul: #3399ff;
    --black: #333;
    --grey:#f5f5f5;
}

.color {
    height: 70px;
    width: 70px;
}

.naranja {
    background: var(--naranja);
}

.gris {
    background: var(--grey);
}

.verde {
    background: var(--verde);
}

.azul {
    background: var(--azul);
}

.black {
    background: var(--black);
    color: white;
}

