* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0;
    padding: 0 20px;
}

.page {
    max-width: 960px;
    margin: 0 auto;
}

.main {
    background: var(--grey);
}

.content div:nth-child(odd) > p, figure {
    margin-left: 80px;
}

article > h2 {
    text-align: center;
}

article > p {
    margin-left: 40px;
}
