:root {
  --naranja: #ff9933;
  --azul: #3399ff;
  --black: #333;
}

.color {
  height: 70px;
  width: 70px;
}
.naranja {
  background: var(--naranja);
}
.rojo {
  background: var(--rojo);
}
.verde {
  background: var(--verde);
}
.azul {
  background: var(--azul);
}
.black {
  background: var(--black);
  color : white
}

.font {
  background: var(--font);
}
#additional {
  display: flex;
}
