html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial;
    margin: 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50vw;
}

td, th {
    border: 1px solid #dddddd;

    /* text-align: left; */
    padding: 4px;
}

tr:nth-child(even) {
    /* background-color: #dddddd; */
}

.seccion {
    min-height: 600px;
    overflow-y: scroll;
}

#logo .dummyimg {
    background-image: url("../../images/life.jpg");
    background-repeat: no-repeat;
    background-color: white;
    height: 250px;
}

.side .me {
    background-image: url("../../images/henry.jpg");
    background-repeat: no-repeat;
    height: 400px;
}
